.main-dialog {
  padding: 10px;
  font-family: Arial, sans-serif;
}

.line-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.list-items {
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
}

.label-cus {
  padding: 10px;
}

.container {
  padding: 10px 0px 10px 0px;
}

.bottom-input {
  padding: 10px 0px 0px 0px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  border-bottom: 1px solid #eee;
}

.custom-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 80%;
  box-sizing: border-box;
}

.top-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
}