<div class="main-dialog center">
    <h1 mat-dialog-title>Create Agenda</h1>
    <form [formGroup]="form">
        <div mat-dialog-content>
            <div class="center">
                <input matInput class="custom-input top-input" matInput
                    type="text" formControlName="agendaName"
                    placeholder="Agenda Name">
            </div>
            <div class="container">
                <div *ngIf="order.length > 0">
                    <div class="label-cus">
                        <label>Order:</label>
                    </div>
                    <div cdkDropList class="list-items"
                        (cdkDropListDropped)="drop($event)">
                        <div class="box" *ngFor="let item of order; index as i"
                            cdkDrag>
                            <span>{{ item }}</span>
                            <button mat-icon-button (click)="removeElement(i)">
                                <mat-icon class="small-icon">delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="line-items">
                <div class="bottom-input">
                    <input matInput class="custom-input " matInput type="text"
                        #newElement>
                </div>
                <button mat-flat-button (click)="addElement(newElement.value)">
                    <mat-icon>playlist_add</mat-icon>
                </button>

            </div>
            <div class="flex-box-space-right">
                <button mat-stroked-button class="main-container select-buttons"
                    [mat-dialog-close]="form"
                    [disabled]="form.invalid">Create</button>
                <button mat-stroked-button class="main-container select-buttons"
                    mat-dialog-close
                    type="button">Close</button>
            </div>
        </div>
    </form>
</div>