<div>
    <h1 mat-dialog-title>Create Agenda</h1>
    <form class="flex-box" >

        <div mat-dialog-content>

            <div class="wider-element wider-container wider-box lower-input" >
                <label class=""></label>
                <input class="float-right" matInput type="text" >
            </div>
            <div class="flex-box">
                <!-- <button class="select-buttons" mat-stroked-button [mat-dialog-close]="onSubmit()" type="submit">Submit</button> -->
                <button mat-stroked-button class="main-container select-buttons"  type="submit">Submit</button>
                <button mat-stroked-button class="main-container select-buttons" mat-dialog-close type="submit">Close</button>
            </div>

        </div>
    </form>
</div>