<div>
    <div class="center-content">
        <h1 mat-dialog-title>{{ title }}</h1>
    </div>
    <form class="flex-box-space" [formGroup]="form">
        <div mat-dialog-content class="padding-standard">
            <div
                class="avatar-container padding-small"
                *ngFor="let obj of data">
                <div class="flex-box-space">
                    <label class="padding-small">{{ obj.field }} </label>
                    <input class="main-input" matInput type="text"
                        [formControlName]="obj.field">
                </div>

            </div>
            <div class="flex-box-space padding-samll">
                <button mat-stroked-button class="main-container select-buttons"
                    [mat-dialog-close]="form.value"
                    type="submit">Submit</button>
                <button mat-stroked-button class="main-container select-buttons"
                    mat-dialog-close
                    type="submit">Close</button>
            </div>
        </div>
    </form>
</div>