@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$grey-palette, 900, 50);
$my-accent: mat.define-palette(mat.$indigo-palette, 900, 50);

$board-meetings-theme: mat.define-light-theme((color: (primary: $my-primary,
        accent: $my-accent,
      ),
      typography: mat.define-typography-config(),
      density: 0,
    ));

:root {
  --my-primary-color: #{mat.get-color-from-palette($my-primary)};
  --my-accent-color: #{mat.get-color-from-palette($my-accent)};
  --my-primary-background-color: rgb(255, 255, 255);
  --my-accent-background-color: rgb(194, 208, 255);
  --my-error-background-color: #72682f;

}


@include mat.all-component-themes($board-meetings-theme);