<div class="invites-container">
    <mat-card-content class="main-card main-card">
        <div class="flex-box-space">
            <h2 class="padding-standard">Invites</h2>
        </div>
        <div>
            <mat-tab-group class="mat-tab-labels padding-small">
                <mat-tab label="Board">
                    <div class="separator-forInvites"></div>
                    <br>
                    <app-board [initialPersonsList]="initialPersonsList"
                        [invitedToEdited]="invitedToEdited"></app-board>
                </mat-tab>
                <mat-tab label="Guests">
                    <div class="separator-forInvites"></div>
                    <br>
                    <app-guests></app-guests>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-card-content>
</div>