<div>
    <div class="flex-box-space">
        <h2>Invites</h2>
    </div>
    <div class="main-container gap-1rem">
        <mat-tab-group class="mat-tab-labels" style="width: 27rem;">
            <mat-tab label="Board">
                <div class="separator-forInvates"></div>
                <br>
                <app-board [initialPersonsList]="initialPersonsList" [invitedToEdited]="invitedToEdited"></app-board>
            </mat-tab>
            <mat-tab label="Guests">
                <div class="separator-forInvates"></div>
                <br>
                <app-guests></app-guests>
            </mat-tab>
        </mat-tab-group>
    </div>