<div>
    <div class="flex-box">
        <h3>
            Invates
        </h3>
    </div>
    <div>
        <mat-form-field class="wider-input">
            <!-- <input matInput (input)="handleSerchInput($event)" placeholder="Search" /> -->
            <input matInput [(ngModel)]="wanted" (input)="search()" placeholder="Search" />
        </mat-form-field>

        <ul>
            <mat-checkbox (click)="hangleCheckekAll()" class="margin-left-minus-40px">
                <span class="" > ALL </span>
            </mat-checkbox>
            <li *ngFor="let pop of searchedList; let i = index" class="list-item margin-left-minus-40px">
                <div class="">
                    <mat-checkbox [checked]="pop.invited" (click)="checkPerson(i)" class="margin-minus-10px">
                        <span class=""> {{ pop.name }} </span>
                        <span class=""> {{ pop.surname }} </span>
                        <br>
                        <span class=""> {{ pop.jobPosition }} </span>
                    </mat-checkbox>
                    <br>
                </div>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li *ngFor="let pop of gestsList; let i = index" class="list-item margin-left-minus-40px">
                <div *ngIf="pop.invited" class="">
                        <span class=""> {{ pop.name }} </span>
                        <span class=""> {{ pop.surname }} </span>
                        <span class=""> {{ pop.jobPosition }} </span>
                        <br>
                        <br>
                </div>
            </li>
        </ul>
    </div>
    <button (click)="print()">PRINT</button>
</div>