<div>
  <app-nav-bar [title]="'Create new meeting'" [editedMeetingId]="null"
    [formDisabled]="formDisabled" [meetingError]="null" [showSaveButton]="true"
    (saveAndPublish)="saveAndPublish()"></app-nav-bar>
</div>
<div class="center-content ">
  <div class="separator-horizontal" style></div>
</div>
<div class="main-container base-container">
  <div>
    <app-new-meeting [editedMeeting]="editedMeeting"></app-new-meeting>
  </div>
  <div class="separator-vertical"></div>
  <div class="side-menu">
    <app-tasks [initialTasks]="editedTasks"
      (tasksListOutput)="saveTasksList($event)"></app-tasks>
    <app-invites [invitedToEdited]="invitedToEdited"></app-invites>
  </div>

  <div *ngIf="activeHamburger" class="bottom-save-cont">
    <div
      class="bottom-save-card">
      <button mat-stroked-button
        class="padding-standard"
        (click)="saveAndPublish()"
        [disabled]="formDisabled">
        Save & Publish</button>
    </div>
  </div>