<div>
  <div class="centered-top-container">
    <h3>Main Menu</h3>
    <div class="centered-top-container margin-top-10px">
      <button mat-stroked-button class="margin-top-10px" routerLink="/new-meeting">New Meeting</button>
      <button mat-stroked-button class="margin-top-10px" routerLink="/meetings-list">Meetings List</button>
      <button mat-stroked-button class="margin-top-10px"
        [routerLink]="[{ outlets: { bottomOutlet: ['about'] } }]">About</button>
    </div>
  </div>
  <router-outlet name="bottomOutlet"></router-outlet>
</div>