<div class="separator-horizontal" style></div>
<div class="main-container padding-standard">
  <div class="main-menu main-card">
    <div class="center-content">
      <h3>Main Menu</h3>
      <div class="center-content margin-top-10px">
        <button mat-stroked-button class="margin-top-10px"
          routerLink="/new-meeting">New Meeting</button>
        <button mat-stroked-button class="margin-top-10px"
          routerLink="/meetings-list">Meetings List</button>
        <button mat-stroked-button class="margin-top-10px"
          (click)="handleAboutVisibility()">About</button>
      </div>
    </div>
    <div *ngIf="isAboutVisible">
      <app-about (visibilityOutput)="handleAboutVisibility()"></app-about>
    </div>
  </div>
</div>