@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$grey-palette,900, 50);
$my-accent: mat.define-palette(mat.$grey-palette, 900, 50);

$koia-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($koia-theme);