::ng-deep .mat-mdc-form-field-icon-suffix.ng-star-inserted {
    margin-bottom: 5px;
    margin-top: 0px !important;
}

.mdc-icon-button.mat-mdc-icon-button.mat-unthemed.mat-mdc-button-base {
    margin-top: 0px;
}

.button-X {
    margin-top: -4px !important;
}

.list-header {
    margin-bottom: 0px;
}

.list-container {
    padding-left: 20px;
}

.agenda-row {
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: dotted;
    border-color: gainsboro;
}

.agenda-with-order {
    border-top: solid;
    border-bottom: solid;
    border-color: rgba(134, 134, 134, 0.404);
}

@media only screen and (max-width:599px) {
    .list-container {
        padding-left: 5px;
    }
}