html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

div.main.calendar-container {
  display: flex;
  align-items: center;
}

.mat-mdc-checkbox.example-margin.mat-accent {
  margin-left: -10px;
}

.mat-mdc-text-field-wrapper.mdc-text-field {
  border-radius: 5px;
  border: solid;
  border-color: gray;
  border-width: 1px;
}

button.select-buttons.active {
  background-color: black;
  color: white;
}

.wider-input {
  background-color: white;
  height: 4rem;
  width: 88%;

}

.clear-button {
  margin-left: auto;
}

.meeting-form {
  margin-left: 100px;
  padding: 20px;
}

.side-menu {
  margin-left: 40px;
  padding: 20px;
  flex: 4;
}

.select-buttons {
  margin-right: 15px;
  height: 3rem !important;
  margin-left: 0px;
}

.select-buttons-agenda {
  margin: 15px;
  height: 3rem !important;
}

.wider-input>.mat-mdc-text-field-wrapper>.mat-mdc-form-field-flex>.mat-mdc-form-field-infix {
  padding-top: 10px;
}

.mat-stroked-button {
  border-radius: 4px;
  border: 1px solid;
  background-color: transparent;
  padding: 8px 16px;
  font-size: 14px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.avatar-container.text-listcontainter.diplay-flex {
  align-items: center;
  display: flex;
  background-color: gainsboro;
  margin-left: -40px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 70%;
  min-width: 300px;
  max-width: 800px;
}

.elements-in-list.margin-left {
  margin-left: 5px;
}

.margin-left-minus-30px {
  margin-left: -30px;
}

.margin-left-minus-40px {
  margin-left: -40px;
}

.margin-left-40 {
  margin-left: 40%;
}

.margin-left-70 {
  margin-left: 70%;
}

.margin-left-60 {
  margin-left: 60%;
}

.margin-left-50 {
  margin-left: 50%;
}

.margin-left-60 {
  margin-left: 60%;
}

.wider-element.wider-container.wider-box {
  width: 75%;
  min-width: 300px;
  max-width: 800px;
}

.wider-element.wider-container.wider-box.lower-input {
  height: 4rem;
}

.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  padding-top: 10px;
}

.mat-mdc-icon-button.mat-mdc-button-base {
  padding-top: 10px;
}

.flex-container {
  display: flex;
}
.gap-1rem{
  gap: 1rem;
}
.list-item {
  display: flex;
  align-items: center;
}

.mat-mdc-tab-header{
  display: ruby!important;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 0px;
}

.task-name {
  margin-right: 10px;

}

.near-button-container {
  display: flex;
  gap: 0px;
  margin-left: 0px;
  margin-right: 4rem;
}

app-new-meeting {
  flex: 6;
}

app-tasks {
  flex: 4;
}

.separator {
  width: 2px;
  background-color: gainsboro;
}

.mat-mdc-form-field-focus-overlay .ng-star-inserted {
  background-color: white;
}

.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled.mdc-text-field--no-label {
  background-color: white;
}

.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled.mdc-text-field--no-label.mdc-text-field--disabled {
  background-color: gainsboro;
}

.mdc-checkbox .mdc-checkbox__background {
  border-color: black;
}