.scrollable-content {
    max-height: 750px;
    box-shadow: none;
    /* overflow: auto; */
}

.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mat-mdc-list-item {
    height: 25px !important;
}

h4 {
    margin: 2px;
}

.link {
    color: cornflowerblue;
    text-decoration: none;
    cursor: pointer;
}

.mat-expansion-panel-body {
    padding: 0 24px 0px !important;
}

.element-container {
    padding: 5px;
}

.mat-expansion-panel-header {
    height: 35px !important;
}

.file-list-element {
    padding: 5px 0px 5px 15px;
}

.center-contiener {
    display: flex;
    justify-content: center;
}

.columns-contiener {
    flex-direction: column
}

.separator {
    height: 2px;
    background: gray;
    width: 20%;
}

.mat-mdc-list-item.mdc-list-item.mat-mdc-list-item-single-line.mdc-list-item--with-one-line {
    padding-top: 10px;
    padding-bottom: 10px;
}
.segemnt {
    padding: 5px;
}

@media only screen and (max-height: 750px) {
    .scrollable-content {
        max-height: 500px;
    }

    @media only screen and (max-height: 500px) {
        .scrollable-content {
            max-height: 250px;
        }

        @media only screen and (max-height: 250px) {
            .scrollable-content {
                max-height: 100px;
            }
        }
    }
}